<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL shortener</title>
</head>
<body>
    hallo, this is a simple URL shortener that i wrote in like 2 hours
    <form id="url_form">
        <input type="url" id="url" name="url" placeholder="Your URL here" required>
        <input id="submit" type="submit" value="Shorten!">
    </form>

    <div id="result"></div>
    <button id="copy_button" hidden>Copy</button>

    <script>
        const form = document.querySelector("#url_form")
        const copy_button = document.querySelector("#copy_button")
        var copy_url = null;
        const baseURL = window.location.href;
        console.log(baseURL)

        document.getElementById('copy_button').addEventListener('click', function() {
            var tempInput = document.createElement("input");
            tempInput.value = copy_url;
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand("copy");
            document.body.removeChild(tempInput);
        });

        document.getElementById('url_form').addEventListener('submit', function(event) {
            event.preventDefault();
            var url = document.getElementById('url');

            var resultElement = document.getElementById('result');

            var xhr = new XMLHttpRequest();
            xhr.open("POST", `${baseURL}upload`, true);
            xhr.setRequestHeader("Content-Type", "application/json");

            var data = JSON.stringify({ url: url.value });

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    copy_url = baseURL + response[0]['data'];
                    resultElement.innerHTML = `Shortened URL: <a href="${copy_url}">${copy_url}</a>`;

                    copy_button.hidden = false;

                    var formElements = form.elements;
                    for (var i = 0; i < formElements.length; i++) {
                        formElements[i].disabled = false;
                    }
                    url.value = "";
                }
            };

            xhr.send(data);

            var formElements = form.elements;
            for (var i = 0; i < formElements.length; i++) {
                formElements[i].disabled = true;
            }
        });
    </script>
</body>
</html>